name: Publish migrations to deployment repo

on:
  workflow_run:
    workflows: ["Generate Bytebase rollout plan"]
    types: [completed]

jobs:
  publish-nonprod:
    uses: naing2htun/actions/.github/workflows/sql-publish.yml@main
    with:
      deployment-repo: "naing2htun/deployment"
      environments: '["qa", "stg"]'
    secrets:
      deployment-token: ${{ secrets.DEPLOYMENT_REPO_TOKEN }}

  publish-prod:
    uses: naing2htun/actions/.github/workflows/sql-publish.yml@main
    with:
      deployment-repo: "naing2htun/prod-deployment"
      environments: '["prod"]'
    secrets:
      deployment-token: ${{ secrets.DEPLOYMENT_REPO_TOKEN }}