name: SQL review Bytebase Action

on:
  pull_request:
    branches:
      - main
    paths:
      - "migrations/*.sql"

jobs:
  check-release:
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    container:
      image: docker://bytebase/bytebase-action:1.11.1
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Check release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BYTEBASE_URL: ${{ vars.BYTEBASE_URL }}
          BYTEBASE_SERVICE_ACCOUNT: ${{ vars.BYTEBASE_SERVICE_ACCOUNT }}
          BYTEBASE_SERVICE_ACCOUNT_SECRET: ${{ secrets.BYTEBASE_SERVICE_ACCOUNT_SECRET }}
          BYTEBASE_PROJECT: "projects/latitude-demo"
          BYTEBASE_TARGETS: "instances/latitude-dev/databases/latitude-demo-dev"
          FILE_PATTERN: "migrations/*.sql"
        run: |
          bytebase-action check \
            --url=${{ env.BYTEBASE_URL }} \
            --project=${{ env.BYTEBASE_PROJECT }} \
            --targets=${{ env.BYTEBASE_TARGETS }} \
            --file-pattern=${{ env.FILE_PATTERN }}